.Genres{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.singleGenre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
    font-size: large;
    font-weight: bold;
}
.singleGenre:hover{
    background-color: dimgrey;
    border-radius: 5%;
}